@model IEnumerable<DTO.DTOEntity.ContactDTO>

<div class="col-md-3 col-sm-3 contact-left">
	@foreach (var item in Model)
	{
		<div class="address">
			<h4>ADDRESS</h4>
			<h5>@item.Address</h5>
		</div>
		<div class="phone">
			<h4>PHONE</h4>
			<h5>@item.PhoneOne</h5>
			<h5>@item.PhoneTwo</h5>
		</div>
		<div class="email">
			<h4>EMAIL</h4>
			<h5><a href="mailto:@item.EmailOne">@item.EmailOne</a></h5>
			<h5><a href="mailto:@item.EmailTwo">@item.EmailTwo</a></h5>
		</div>

	}
</div>
